/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */


html,
body {
  height: 90%;
  margin: 10;
  padding: 0;
  width: 60%;
}

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Roboto", "sans-serif";
  margin: 10px;
  /* Hide the control initially, to prevent it from appearing
           before the map loads. */
  display: none;
}

/* Display the control once it is inside the map. */
#map .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
#legend {
  position: fixed;
  height: 40%;
  bottom: 0;
  right: 0;
  width : 12%;
  background-color: black;
}

#tester {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 220px;
  height: 35px;
  border: 3px solid #73AD21;
}

`.column {
  position: fixed;
  height: 400px;
  bottom: 0;
  right: 600;
  width : 12%;
  background-color: 1D2C4D;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}`

#toolbar {
height: 15,
}

#start-btn{
    height : 35px;
    width : 220px;

}

#recalib{
    height : 35px;
    width : 220px;

}

#start{
  position: absolute;
  top: 80px;
  right: 20px;
  width: 220px;
  height: 35px;
  border: 3px solid #73AD21;
}

#suggest{
  position: absolute;
  top: 140px;
  right: 20px;
  width: 220px;
  height: 35px;
  border: 3px solid #73AD21;
}

#sugg-btn{
    height : 35px;
    width : 220px;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 57px;
  right: 320px;
  width: 600px; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: 400px;
  height: 500px;
  right: 320px;
  margin: auto 20%;
  color: yellow;
  font-family: 'Courier New'
  background-color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.pac-container{
    font-family: 'Courier New';
    color:yellow;
}

#dest-text{
    color: yellow;
    background-color:black;
    width: 200px;
    font-family: 'Courier New'
}

.pac-item{
    color:yellow;
    background-color: black;
}

.pac-icon{
    color:yellow;
    background-color: black;}

.pac-item-query{
    color:yellow;
}

th{
    border: 1px solid yellow;
    color: yellow;
    padding: 8px;
    font-family: 'Courier New';

}

table {
border-collapse:collapse;
width: 50%;
border: 1px solid yellow;
text-align:center;
vertical-align: middle;
}

tbody{
    border: 1px solid yellow;
    color:yellow;
    font-size:12;
    padding: 8px;
    width: 33%;
    height: 66%
}

th, td, tr{
    border: 1px solid yellow;
}

.free-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stop-btn{
    padding: 8px;
}

#remove-bike{
    height : 35px;
    width : 220px;

}

#remove {
  position: absolute;
  top: 260px;
  right: 20px;
  width: 220px;
  height: 35px;
  border: 3px solid #73AD21;
}