<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    var fetchit = "some value";
    var flag = 0;
    $.ajax({
        url: "/count"
    }).done(function(res, data) {
        fetchit = res;
        flag = 1
    });
    </script>

    <title>Safe Travels</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <script type="module" src="./static/index.js"></script>
  </head>
  <body style="background-color:black;">
    <h3 style="text-align:center;">
      <button id = "toolbar" style="text-align:center;font-size:30px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid" value = "Ryder">Ryder</button>
    </h3>
    <!--The div element for the map -->
     <div class="row">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>

    <div id= "start">
      <button id="start-btn" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Start Ride</button>
    </div>
    <div id="myModal" class="modal" style="color:black;margin-left:auto;margin-right:auto;text-align:center;font-family:Courier New;text-align:center">
      <!-- Modal content -->
      <div class="modal-content" style="text-align:center">
        <span class="close" id = "cross">&times;</span>
        <p>Would you like to track your activity or get directions?</p>
        <div class="modal-footer">
        <button type="button" id="track-btn" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Track</button>
          <button type="button" id="dir-btn" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Get Directions</button>
      </div>
      </div>

    </div>

    <div id = "remove">
      <button id="remove-bike" style="text-align:center;font-size:15px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Remove Bike Routes</button>
    </div>

    <div id="deets-modal" class="modal" style="color:black;margin-left:auto;margin-right:auto;text-align:center;font-family:Courier New;text-align:center">
      <!-- Modal content -->
      <div class="modal-content" style="text-align:center">
        <span class="close" id = "deets_cross">&times;</span>
        <p id = "table-title"></p>
        <p id = "addr">
        </p>
          <p id = "phone"></p>
          <p id = "rating"></p>
          <img id="loc-img" src = "" width="400" height="300" style="text-align:center" class="free-img">
        <div class="modal-footer">
        <button type="button" id="stop-trip" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Stop Trip</button>
          <button type="button" id="recenter" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Re-Center</button>
      </div>
      </div>
    </div>

    <div id="directions-form" class="modal" style="color:black;margin-left:auto;margin-right:auto;text-align:center;font-family:Courier New;text-align:center">
      <!-- Modal content -->
      <div class="modal-content" style="text-align:center">
        <span class="close" id = "cross_dir">&times;</span>
         <form id="dest-form">
          <label for="dest-text">Enter Destination: <br>
          <input type="text" id="dest-text" name="fname"><br>
        </form>
      </div>

    </div>

    <div id="nearby-srch" class="modal" style="color:black;margin-left:auto;margin-right:auto;text-align:center;font-family:Courier New;text-align:center">
      <!-- Modal content -->
      <div class="modal-content" style="text-align:center">
        <span class="close" id = "cross-srch">&times;</span>
         <table id = "near-tbl" border=1 frame=void rules=rows>
             <thead>
                <tr>
                  <th scope="col">Location</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Open?</th>
                  <th scope="col">Photos</th>
                </tr>
             </thead>
           <tbody id = "sugg-entries">

           </tbody>

         </table>
      </div>

    </div>

    <div id= "suggest">
      <button id="sugg-btn" style="text-align:center;font-size:20px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Suggest Ride</button>
    </div>

    <div id="tester">
      <button id="recalib" style="text-align:center;font-size:15px;font-family:Courier New;color:yellow;background-color:black;border: 1px solid">Show Bike Routes</button>
    </div>
    <div id="map"></div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEGNwybqtkhb7f2HXEDGkWYqrkc9oRqNA&callback=initMap&libraries=places&v=weekly" defer
    ></script>

    <script type="text/javascript" src="index.js"></script>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
  </body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>